<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# video: http://ogp.me/ns/video#">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MCD</title>
<meta name="viewport" content="width=810px; user-scalable=0;">
<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
<script src="js/main.js"></script>
<link rel="canonical" href="https://cafe.promofb.es/index.php?cafeid={{ cafeid }}" />
<meta property="fb:app_id" content="327845837720712">
{% if compartir == 1 %}
 <meta property="og:type"   content="video.other" />
 <meta property="og:url"    content="https://cafe.promofb.es/cafe-finals/{{ cafeid }}-2.jpg" />
 <meta property="og:title"  content="Por un Lunes menos lunes" />
 <meta property="og:image"  content="https://cafe.promofb.es/cafe-finals/{{ cafeid }}-2.jpg" />
 <meta property="og:image:width" content="1300">
 <meta property="og:image:height" content="1000">
{% else %}
<meta property="og:url"           content="https://cafe.promofb.es/" />
<meta property="og:image"         content="https://cafe.promofb.es/images/compartir.jpg" />
<meta property="og:type"          content="website" />
{% endif %}
<meta property="og:title"         content="Por un Lunes menos lunes" />
<meta property="og:description"   content="En McDonald's pensamos que el lunes puede pasar de ser un día chof a un día top.
Por eso, queremos envíes un mensaje que alegre el día a esa persona que necesita
doble de café para sobrevivir al lunes. " />
<meta name="rating" content="general">
<meta name="image:rating" content="g">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-79453141-7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-79453141-7');
</script>

<script>
window.fbAsyncInit = function() {
FB.init({
 appId      : '327845837720712',
 cookie     : true,  // enable cookies to allow the server to access
 xfbml      : true,  // parse social plugins on this page
 version    : 'v2.9' // use graph api version 2.8
});
};

(function(d, s, id) {
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) return;
 js = d.createElement(s); js.id = id;
 js.src = "//connect.facebook.net/en_US/sdk.js";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>
</head>
<body>
  <div id="cabecera" style="">
  	<a href="index.php"><img src="images/arriba.png" /></a>
  </div>
<div id="wrapper">
  {% block content %}
  {% endblock %}
</div>

</body>
</html>
